.t-text-black {
  color: var(--text-black);
}
.t-text-black-opace {
  color: var(--text-black-opace);
}

.f-w-200 {
  font-weight: 200;
}
.f-w-300 {
  font-weight: 300 !important;
}
.f-w-400 {
  font-weight: 400 !important;
}
.f-w-500 {
  font-weight: 500 !important;
}
.f-w-600 {
  font-weight: 600 !important;
}
.f-w-700 {
  font-weight: 700 !important;
}
.f-w-800 {
  font-weight: 800 !important;
}

.font-size-14 {
  font-size: 14px;
  line-height: 17.08px;
}
.font-size-16 {
  font-size: 16px;
  line-height: 19.52px;
}
.font-size-18 {
  font-size: 18px;
  line-height: 21.96px;
}

.font-size-22 {
  font-size: 22px;
  line-height: 26.84px;
}

.font-size-34 {
  font-size: 34px;
  line-height: 41.48px;
}
