:root {
  --bg-white: #{$bg-white};
  --white-light: #{$white-light};
  --black: #{$black};
  --text-black: #{$text-black};
  --text-black-opace: #{$text-black-opace};
  --button-primary: #{$button-primary};
  --border-divider: #{$border-divider};
  --button-secondary: #{$button-secondary};
  --text-white: #{$text-white};
}
