$bg-white: #ffffff;
$black: #1a1a1a;
$text-white: #ffffff;
$text-black: #1a1a1a;
$text-black-opace: rgba(26, 26, 26, 0.5);
$border-divider: rgba(26, 26, 26, 0.1);
$button-primary: #462ddf;
$white-light: #fcfcfc;
$button-secondary: #f4f4f4;
